* {
  /* nos permite ocupar tanto el espaciado externo e interno */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(1,4,1);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2392ac96' fill-opacity='0.06' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  font-size: 1.4rem;
}
ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #000;
}
body .container {
  width: 90%;
  margin: 2rem auto;
  padding: 0.313rem;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
/* -------------------------------------------------------------------------- */
/*                                 NAV STYLES                                 */
/* -------------------------------------------------------------------------- */
.nav-main {
  background-color: rgba(25, 117, 68, 0.5);
  font-size: 1.6rem;
  /* nos permite organizar los elementos */
  display: flex;
  /* esta propiedad de flex nos permite usar todo el ancho disponible del contenedor */
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 3rem 2rem;
  border: 0.1rem solid #2dc874;
  border-radius: 5px;
}
.nav-logo {
  width: 5rem;
}

/* -------------------------------------------------------------------------- */
/*                                  NAV LEFT                                  */
/* -------------------------------------------------------------------------- */
.nav-main ul {
  display: flex;
}
.nav-main ul li {
  padding: 0.9rem;
}
.nav-menu li a {
  border-radius: 8px;
  color: #eee;
  /* padding: 0.2rem; */
}
.nav-menu li a:hover {
  background-color: #eee;
  color: #2dc874;
}

.nav-menu {
  /* flex: 1; */
  margin-left: 3rem;
}
.nav-menu-rigth li a:hover {
  color: #1b5e20;
}
.nav-menu-rigth li a {
  color: #eee;
}
.nav-menu-rigth {
  height: 6.5rem;
}

/* -------------------------------------------------------------------------- */
/*                                   SLIDER                                   */
/* -------------------------------------------------------------------------- */
/* Slideshow container */
.slideshow-container {
  border-radius: 8px;
  width: 100%;
  height: 30rem;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 3rem;
}
.responsive {
  width: 100%;
  height: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    CARDS                                   */
/* -------------------------------------------------------------------------- */
.news-cards {
  margin: auto;
}
body .container .news-cards .mycard {
  margin-top: 3rem;
  padding: 2rem;
}
body .container .news-cards .mycard .card-reveal .reveal {
  /* padding:1.04rem; */
}
body .container .news-cards .mycard .card-image {
  width: 100%;
  height: 9rem;
}
.laravel {
  color: #db5537;
}
.rails {
  color: #cc0000;
}
.django {
  color: #103e2e;
}
.node {
  color: #64b647;
}

/* -------------------------------------------------------------------------- */
/*                               BANNER ONE SECTION                               */
/* -------------------------------------------------------------------------- */
.banner-section {
  width: 100%;
  height: 24rem;
  overflow: hidden;
  background-image: url("https://www.paragyte.com/img/React_Banner.png");
  margin-bottom: 2.5rem;
  background-size: 100%;
  border-radius: 8px;
}
.banner-section .content {
  width: 40%;
  padding: 3rem 4rem;
  color: #fff;
  text-align: justify;
}
.banner-section .content h2 {
  margin-top: 0;
  color: #61dbfb;
}

/* -------------------------------------------------------------------------- */
/*                               BANNER ONE SECTION                               */
/* -------------------------------------------------------------------------- */
.banner-section-2 {
  width: 100%;
  height: 24rem;
  overflow: hidden;
  background-image: url("https://miro.medium.com/max/2880/1*UbVWCOuRgGWzUpyD6VFhvQ.png");
  margin-bottom: 2.5rem;
  background-size: 100%;
  border-radius: 8px;
}
.banner-section-2 .content {
  width: 40%;
  padding: 3rem 4rem;
  color: #fff;
  text-align: justify;
}
.banner-section-2 .content h2 {
  margin-top: 0;
  color: #d50000;
}

/* -------------------------------------------------------------------------- */
/*                                   SOCIAL                                   */
/* -------------------------------------------------------------------------- */
.social {
  text-align: center;
  margin: 6rem;
}
.social-links {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links a {
  margin: 0 30px;
}
.social-links i {
  font-size:3rem;
}
.social-links i:hover {
  color:#fff;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOOTER                                  */
/* -------------------------------------------------------------------------- */
body .myfooter{
  padding-top:20px;
  /* background-color:rgba(12, 122, 21, 0.562); */
  background-color:rgba(117,117,117,0.5);
  color: #64b647;
}
body .myfooter h5{
  color: #64b647;
}